/*.item {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.item img {
  width: 80px;
}

button {
  margin-left: auto;
  background: red;
  color: white;
  border: none;
  padding: 8px;
}*/
